@page "/"

<h1>Вітаємо!</h1>

<p>Шановні відвідувачі сайту, для економії часу та недопущення помилок пропонуємо використовувати онлайн сервіс оформлення бібліографічних списків.</p>
<p>Для студентських (курсових, дипломних робіт і т. д.) і наукових (статей, дисертацій і т. д.) робіт потрібно правильне оформлення списку використаної літератури, оформлення посилань і бібліографічних зносок.</p>
<p>Мета проекту "Бібліограф" допомогти в правильному і швидкому оформленні списку літератури і зносок згідно чинного законодавства України.</p>
<p class="alert alert-info">Зверніть увагу, вимоги до оформлення можуть відрізнятися від ДСТУ - уточнюйте у методичних рекомендаціях з оформлення того ВУЗу, де навчаєтеся.</p>

<!--<SurveyPrompt Title="How is Blazor working for you?" />-->
